$color__primary: red;

h2, a, p{
    color: $color__primary;
}

h2, h3, h4 {
    font-size: 2em;
    font-family: 'Arial';
}

//Decendiente
.contenedor p{
    color: lightcoral;
}

//Se le aplican a los hijos directos
.contenedor > p{
    color: lightgreen;
}

//Estoy seleciondo el nav que tiene la clase contenedor
nav.contenedor{
 background: lightcoral;
}

.contenedor a{
    text-decoration: none;
    color: firebrick;
    margin: 2px;
}

.contenedor > a{
   font-size: 20px;
   font-weight: bold;
}
//Seleciono al hermano abyacente
h2 + p{
    color: gold;
}
//Seleciono a todos los hermanos abyacente
h3~p{
    color: indigo;
}