<div class="container">
  <header class="header contenedor">
    <nav class="nav">
      <a href="#">Inicio</a>
      <a href="#">Acerca de</a>
      <a href="#">Contacto</a>
    </nav>
  </header>

  <div class="contenedor">
    <p>Hola soy hijo directo de un contenedor <strong>.contenedor > p</strong></p>
  </div>
  <div class="contenedor">
    <div>
      <p>Hola soy decendiente de un contenedor <strong>.contenedor p</strong></p>
    </div>
  </div>

  <section>
    <h2 class="titulo">Bienvenido a mi blog</h2>
    <p>En este blog aprenderas sobre diseño</p>
    <p>Bienvenido</p>
  </section>
  <aside>
    <h3>Articulos</h3>
    <p>Articulo 1</p>
    <p>Articulo 2</p>
    <p>Articulo 3</p>
  </aside>
  <footer class="contenedor footer">
    <p>Soy un footer</p>
    <a href="#">Inicio</a>
    <a href="#">Acerca de</a>
    <a href="#">Contacto</a>
  </footer>
</div>
