<header>
  <nav>
    <a href="#" class="menu-icono">Menú</a>
    <div #menuIconos class="enlaces uno" id="enlaces" (click)="changeCSS()">
      <a href="#">Inicio</a>
      <a href="#">Acerca de</a>
      <a href="#">Contacto</a>
    </div>
  </nav>
  <div class="container">
    <div class="textos">
      <h1>Emerson Design</h1>
      <h2>Haciendo la web para tí</h2>
      <a href="#">Contacto</a>
    </div>
    <figure>
      <img src="../../../assets/img/vector.png" alt="image loading page" />
    </figure>
  </div>
</header>
<div class="wave">
  <div style="height: 150px; overflow: hidden">
    <svg
      viewBox="0 0 500 150"
      preserveAspectRatio="none"
      style="height: 100%; width: 100%"
    >
      <path
        d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff"
      ></path>
    </svg>
  </div>
</div>
