*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    .enlaces{
       display: in;
       text-decoration: none;
       background: crimson;
       color: white;
       padding: 10px 20px;
    }
}