<nav class="nav">
  <section>
    <h1>soy el menu de navegacion</h1>
  </section>
  <ul>
    <li>
      <a href="https://developer.mozilla.org/es/docs/Web/CSS/CSS_Selectors"
        >Inicio</a
      >
    </li>
    <li>
      <a href="https://developer.mozilla.org/es/docs/Web/CSS/CSS_Selectors"
        >Inicio 2</a
      >
    </li>
    <li>
      <a href="httpss://developer.mozilla.org/es/docs/Web/CSS/CSS_Selectors"
        >Inicio 3</a
      >
    </li>
    <li>
      <a href="httpss://developer.mozilla.org/es/docs/Web/CSS/CSS_Selectors"
        >Inicio 4</a
      >
    </li>
    <li>
      <a href="https://developer.mozilla.org/es/docs/Web/CSS/CSS_Selectors"
        >Inicio 5</a
      >
    </li>
  </ul>
</nav>
<br />
<section id="section">
  <h2 class="titulo">Mi primer Blog</h2>
  <h2 class="desccrition">La descrición de mi blog</h2>
  <p class="parrafo">Soy un parrafo y tengo un emoji</p>
</section>
