<h2>CSS - Box Shadow</h2>
<article class="card_drop">
  <figure class="card_drop__figure">
    <img
      src=".././../../assets/img/img_goku_all.png"
      alt=""
      class="card_drop__figure__img"
    />
  </figure>
  <section class="card_drop__content">
    <h2 class="card_drop__content__title">goku</h2>
    <p class="card_drop__content__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eos
      corrupti sint sed omnis porro mollitia alias ad, quibusdam eum, dicta
      praesentium neque sequi temporibus eveniet est ab voluptates ipsa?
    </p>
    <a href="" class="card_drop__content__a_action">ver detalles</a>
  </section>
</article>
<hr />
<br />
<article class="card">
  <figure class="card__figure">
    <img class="card__img" src=".././../../assets/img/spiderman.jpg" alt="" />
  </figure>
  <div class="card__content">
    <h2 class="card__title">Spiderman</h2>
    <p class="card__description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro quam veniam
      culpa pariatur necessitatibus error distinctio incidunt. Consequatur, quam
      nulla vel voluptates, omnis voluptatibus aliquam voluptas, deleniti
      consequuntur nihil adipisci.
    </p>
    <a href="" class="card__action">ver datalle</a>
  </div>
</article>
<hr />
<br />
<figure class="figure_card">
  <img
    class="figure_card__img"
    src=".././../../assets/img/spiderman.jpg"
    alt=""
  />
  <h3 class="figure_card__title">SpiderMan [Nueva geracion]</h3>
  <a class="figure_card__a" href="">ver detalle</a>
</figure>

<hr />
<div class="box"></div>
